.detail-page {
  width: 100%;
  .overview {
    position: relative;
    width: 100%;
    img {
      width: 50%;
      height: 100%;
    }

    .banner {
      background-color: rgba(black, 0.5);
      color: white;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.container-overview {
  padding: 30px;
}

.movieinfo {
  line-height: 3px;
}
