.section-container {
  background-color: white;
}

.section-list {
  display: flex;
  // background-color: #c4c4c4;

  li {
    padding: 10px;
    list-style: none;
    margin: 0px 10px;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: #fe024e;
      border-radius: 20px;
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
  // background-color: #c4c4c4;
}

.card {
  width: calc((100% - (30px * 5)) / 5);
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;

  .img-card {
    // width: 150px;
    max-width: 100%;
    display: block;
  }
}

.section {
  //   padding: 10px;
  margin-left: 58px;
  margin-top: 0;
  padding-top: 20px;
}
